@import '../../styles.scss';

.bdr{
  border: $borderColor $borderHeight solid;
}
.hint{
  color: $secondFontColor;
}
@import '../../styles.scss';

.bdr{
  border: $borderColor $borderHeight solid;
}
.hint{
  color: $secondFontColor;
}
